
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared Style */
.text-primary{
    color:rgba(253, 110, 10, 1);
}

.dark-2{
    color: rgba(71, 71, 71, 1);
}

.btn-primary{
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
    font-weight: bold;
    color: white; 
    border: none;
    padding: 15px 35px;
    /* border-radius: 8px; */
    font-size: 20px;
    /* cursor: pointer; */
}

/* Header */
.header{
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    margin-top: 38px;
    background-position: top left, bottom right;
}
/* Nav Styles */
nav{
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    justify-content: space-between;
    /* margin: 50px 200px; */
    margin-left: 226px;
    margin-right: 150px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
/* set the ul items in the center of each other-used align-items , display flex used for set them in the same row */
nav ul{
    display: flex;
    align-items: center;
    /* flex-direction: row;
    list-style-type: none;
    margin-left: auto;
    gap: 30px; */
}

/* Remove the dot */
nav ul li{
    list-style: none;
    margin-right: 50px;
}

/* To remove underline */
nav li a{
    text-decoration: none;
    font-size: 20px;
}


/* Banner content */
.banner{
    display: flex;
    justify-content: space-between;
    margin: 0 30px 0 200px;
}
.banner-content{
    max-width: 585px;
}
.banner-greetings{
    font-size: 45px;
    font-weight: 600;
}

.banner-title{
    font-size: 85px;
    font-weight: bold;
}  

.banner-description{
    font-size: 18px;
    font-weight: 400;
}

.banner-profile-pic{
   width: 584px;
   height: 676px;
}